<div ref="sideContainer" class="side-container">
    {{ if eq .Title .Site.Title}}
    <a class="a-block nav-head active" href="{{.Site.BaseURL}}">
    {{ else }}
    <a class="a-block nav-head false" href="{{.Site.BaseURL}}">
    {{ end }}
        <div class="nav-title">
            {{.Site.Title}}
        </div>
        {{ with .Site.Params.subtitle }}
        <div class="nav-subtitle">
            {{.}}
        </div>
        {{ end }}
    </a>

    <div class="nav-link-list">
        {{ $current := .Permalink | absLangURL }}
        {{ range .Site.Menus.main }}
            {{$actived := "false"}}
            <!-- A problem caused by slash: if you use "eq" directly, you will get a result of "/tags/" and "/tags" -->
            {{if hasPrefix  $current (.URL|absLangURL)}}
                {{$actived = "active"}}
            {{end}}
            {{ if .HasChildren }}
            <parent name="{{ .Name }}" type="nav-link-item {{$actived}}">
                {{ range .Children }}
                    <li><a href="{{ .URL }}"> {{ .Name }}</a></li>
                {{ end }}
            </parent>
            {{ else }}
            <!--<a class="a-block nav-link-item {{$actived}}" href="{{ .URL }}">-->
            <a class="a-block nav-link-item {{ $actived }}" href="{{ .URL }}">
                {{ .Name }}
            </a>
            {{ end }}
        {{ end }}
    </div>

    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script> 
    <span id="busuanzi_container_page_pv">本文总阅读量<span id="busuanzi_value_page_pv"></span>次</span>
    <span id="busuanzi_container_site_uv">本站访客数<span id="busuanzi_value_site_uv"></span>人次</span>
    <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>

    <div class="nav-footer">
        {{partial "copyright.html" .}}
    </div>
    
</div>